.contact {
  padding: 50px;
}

.contact__title {
  text-align: center;
  font-size: 40px;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.contact__form {
  div {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  input, textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    font-size: 1.1rem;
  }

  textarea {
    resize: vertical;
    max-height: 250px;
    min-height: 100px;
    padding-top: 15px;
  }

  label {
    font-size: 18px;
    font-weight: 500;
  }

  button {
    margin: 0 auto;
    width: 60%;
    height: 50px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgb(49, 107, 255) 0%,
      rgb(3, 0, 205) 100%
    );
    border-radius: 8px;
  }
}

.contact__block {
  width: 600px;
  margin-inline: auto;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 20px;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 300px -70px rgba(40, 139, 184, 1);
  -moz-box-shadow: 0px 0px 300px -70px rgba(40, 139, 184, 1);
  box-shadow: 0px 0px 300px -70px rgba(40, 139, 184, 1);
}
